player-connection-mode=Listen
player-connection-guid=983522856
player-connection-debug=0
player-connection-project-name=Kabo
player-connection-ip=172.17.192.1
player-connection-ip=192.168.94.80
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=483fe4b0b4064810b4f6d08587e2db8f
